body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.grid{
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  height: 33%;
  padding: 1rem;
  justify-content: space-between;
  background-color: beige;
}
.slot_1 label {
  width: 33%;
  height: 33%;
  display: flex;
  background-color: orange;
}